.body {
  font-family: Montserrat;
  background-color: pink;
}
.#title {
  /*background-color: #ff4c68;*/

}
 h1 {
   font-family: Montserrat-black;
   font-size: 3ren;
   line-height: 1.5;
   padding-left: 50%;
 }

.navbar {
  padding-bottom: 1.5rem;
}
#p {
  color: grey;
}

.title-image {
  width: 35%;
  transform: rotate(15deg);
  padding-top: 5%;
}
.features {
  padding: 7% 15%;
}
 .feature-box {
   text-align: center;
   padding: 5%;
 }
 .icon {
   color: red;
   margin-bottom: 1rem;
 }
 .icon:hover {
   color: pink;
 }

.row {
  background-color: pink;
}
.download-button {
  padding-left: 30% auto 70% auto;
}
